/* style.css */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header {
    background-color: #ad171c;
    color: #fff;
    padding: 10px 0;
    text-align: center;
}

.header-container {
    margin-left: 50px;
    margin-right: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 10px;
}

nav a {
    text-decoration: none;
    color: #fff;
}

.user-info {
    display: flex;
    align-items: center;
}

.user-info span {
    margin-right: 10px;
}

.user-info a {
    color: #fff;
    text-decoration: underline;
}

.personal-info {
    display: flex;
    flex-direction: column;
    color: #fff;
    font-size: 14px;
    text-align: right;
}
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f2f2f2;
}

.product-detail-full {
    width: 100%;
    height: 100vh;  
    background-color: #fff;
    padding: 20px;
}

h1 {
    font-size: 24px;
    margin: 10px 0;
}

.image-product {
    width: 100%;
    height: 600px;
    object-fit: cover;
    margin: 20px 0;
    border-radius: 5px;
}

p {
    font-size: 16px;
    margin: 10px 0;
    text-align: justify;
}

.rating {
    font-size: 20px;
    margin: 10px 0;
}

.star {
    color: #FFD700;
}
/* style.css */
/* ... (các quy tắc CSS hiện có) */

.custom-select {
    position: relative;
    display: inline-block;
    margin-right: 10px;
}

.custom-select select {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    width: 200px;
    padding: 5px;
    border: 2px solid #ccc;
    border-radius: 20px;
    font-size: 16px;
    outline: none;
    background-color: #fff;
}

.select-arrow {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 5px solid #777;
}

#check-button {
    background-color: #007bff;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    transition: background-color 0.3s;
}

#check-button:hover {
    background-color: #0056b3;
}

.quantity-check #quantity {
    width: 100px;
    text-align: center;
    padding: 5px;
    border: 2px solid #ccc;
    border-radius: 20px;
    font-size: 16px;
    outline: none;
    background-color: #fff;
}

.quantity-check #add-to-cart {
    background-color: #007bff;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.quantity-check #add-to-cart:hover {
    background-color: #0056b3;
}
footer {
    background-color: #333;
    color: #fff;
    text-align: center !important;
    padding: 10px 0;
    bottom: 0;
    width: 100%;
    z-index: 1; /* Đặt chỉ số z để đè lên phần nền */
}
.text-footer {
    text-align: center;
}